body{
  width: 1080px;
  height: 700px;
  background-color: rgb(41,86,154);
}
.luna{
    position:absolute;
    top:20px;
    right:20px;

    width:200px;
    height:200px;
    border-radius:50%;
    background:#CCC;
    box-shadow:0px 0px 150px #FFFF8C;
}
#moonFase{
       position:absolute;
       top:20px;
       right:20px;

       width:200px;
       height:200px;
       border-radius:50%;
       background: rgba(153,153,153,0);
       box-shadow: inset -25px 0px 0 0px #999;

   }


#nube1{
  width: 150px;
  height: 100px;
  position: relative;
  top:40px;
  left: -50px;
  background-color: rgb(212,212,212);
  border-radius: 70px 70px 35px 40px;
  box-shadow: 5px 5px 10px rgb(92,151,189);

  animation-name: nube;
  animation-duration: 8s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 500;
  animation-direction: alternate;
}
  @keyframes nube{
    0%{
    top: 40px;
    left: -50px;
    }
    100%{
    top: 30px;
    left: 1000px;
    }
  }
#nube1::before{
  content: "";
  background-color: rgb(212,212,212);
  padding: 30px;
  border-radius: 100px 70px 100px 90px;
  position: relative;
  top: 30px;
  left: -11px;
}
#nube1::after{
  content: "";
  background-color: rgb(212,212,212);
  padding: 30px;
  border-radius: 10px 100px 100px 60px;
  position: relative;
  top: 40px;
  left: 50px;
}
#nube2{
  width: 150px;
  height: 100px;
  position: relative;
  left: 1000px;
  top: 50px;
  background-color: rgb(212,212,212);
  border-radius: 70px 70px 35px 40px;
  box-shadow: 5px 5px 10px rgb(92,151,189);

  animation-name: nube2;
  animation-duration: 8s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 500;
  animation-direction: alternate;
}
  @keyframes nube2{
    0%{
    top: 50px;
    left: 1000px;
    }
    100%{
    top: 50px;
    left: -50px;
    }
  }
#nube2::before{
  content: "";
  background-color: rgb(212,212,212);
  padding: 30px;
  border-radius: 100px 70px 100px 90px;
  position: relative;
  top: 30px;
  left: -11px;
}
#nube2::after{
  content: "";
  background-color: rgb(212,212,212);
  padding: 30px;
  border-radius: 10px 100px 100px 60px;
  position: relative;
  top: 40px;
  left: 50px;
}
.pico1{
  position: relative;
  left: 350px;
  top: 0px;
  width: 0;
  height: 0;
  border-right: 300px solid transparent;
  border-top: 160px solid transparent;
  border-left: 300px solid transparent;
  border-bottom: 320px solid #7FCB2A;
}
.pico2{
  position: relative;
  left: 750px;
  top: -470px;
  width: 0;
  height: 0;
  border-right: 200px solid transparent;
  border-top: 200px solid transparent;
  border-left: 200px solid transparent;
  border-bottom: 270px solid #42631D;
}
.pico3{
  position: relative;
  left: 200px;
  top: -940px;
  width: 0;
  height: 0;
  border-right: 200px solid transparent;
  border-top: 200px solid transparent;
  border-left: 200px solid transparent;
  border-bottom: 270px solid #7FCB2A;
}
.pico4{
  position: relative;
  left: -40px;
  top: -1390px;
  width: 0;
  height: 0;
  border-right: 180px solid transparent;
  border-top: 200px solid transparent;
  border-left: 180px solid transparent;
  border-bottom: 250px solid #42631D;
}
#hormiga{
  position: relative;
  animation-name: caminar;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 1000;
  animation-direction:normal;
  margin-top: -1400px;
}

@keyframes caminar{
  0%{
    top: 0;
    right: 0;
  }

  100%{
    top: 0px;
    right: -755px;
  }
}

#culo{
  background-color: black;
  height: 30px;
  width: 40px;
  border-radius: 50px 50px 50px 50px;
}
#cuerpo{
  background-color: black;
  height: 20px;
  width: 30px;
  border-radius: 50px 50px 50px 50px;
  margin-left: 40px;
  margin-top: -25px;
}
#cabeza  {
  background-color: black;
  height: 40px;
  width: 50px;
  border-radius: 50px 50px 50px 50px;
  margin-left: 70px;
  margin-top: -30px;
}
#antena1{
  background-color: black;
  height: 5px;
  width: 30px;
  margin-left: 100px;
  margin-top: -40px;
  transform: rotate(-20deg);
}
#antena2{
  background-color: black;
  height: 5px;
  width: 30px;
  margin-left: 90px;
  margin-top: -10px;
  transform: rotate(-40deg);
}
#pata1{
  background-color: black;
  height: 5px;
  width: 30px;
  transform: rotate(-40deg);
  margin-top: 40px;
  position: relative;
  animation-name: movi;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1000;
  animation-direction:normal;
}
@keyframes movi{
  0%{
    top: 0;
    right: 0;
  }
  100%{
    transform: rotate(-80deg);
    top: 0;
    right: 0;
  }
}
#pata2{
  background-color: black;
  height: 5px;
  width: 30px;
  transform: rotate(40deg);
  margin-top: -10px;
  margin-left: 60px;
  position: relative;
  animation-name: movi2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1000;
  animation-direction:normal;
  }
  @keyframes movi2{
  0%{
    top: 0;
    right: 0;
  }
  100%{
    transform: rotate(80deg);
    top: 0;
    right: 0;
  }
  }


@keyframes flor {
  from{
    transform: rotate(0deg);
    transform-origin: 0 100px;
  }
  to{
    transform: rotate(360deg);
    transform-origin: 0 100px;
  }
}
#flores{
  margin-left: 200px;
}
#petalos{
  width: 200px;
  height: 100px;
  animation-name: giro;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1000;
  animation-direction:normal;
  }
  @keyframes giro{
  0%{
    top: 0;
    right: 0;
  }
  100%{
    transform: rotate(360deg);
    top: 0;
    right: 0;
  }
  }
#flor{
margin-left: 100px;
margin-top: -305px;
position: relative;
top: -1360px;
}
#petalo1{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 0px 100px 0 100px;
}
#petalo2{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 0 100px 0 100px;
  transform: rotate(45deg);
  margin-left: 50px;
  margin-top: -120px;
}
#petalo3{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 0 100px 0 100px;
  transform: rotate(90deg);
  margin-left: 100px;
  margin-top: -80px;
}
#petalo4{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 0 100px 0 100px;
  transform: rotate(135deg);
  margin-left: 120px;
  margin-top: -50px;
}
#petalo5{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 0 100px 0 100px;
  transform: rotate(180deg);
  margin-left: 100px;
  margin-top: -50px;
}
#petalo6{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 0 100px 0 100px;
  transform: rotate(225deg);
  margin-left: 50px;
  margin-top: -80px;
}
#petalo7{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 0 100px 0 100px;
  transform: rotate(270deg);
  margin-left: 0px;
  margin-top: -120px;
}
#petalo8{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 0 100px 0 100px;
  transform: rotate(315deg);
  margin-left: -20px;
  margin-top: -150px;
}
#palo{
  width: 40px;
  height: 200px;
  background-color: green;
  margin-left: 80px;
  margin-top: -20px;
}
#punto{
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 100px 100px 100px 100px;
  background-color: black;
  margin-left: 75px;
  margin-top: -70px;
  z-index: 1;
}
