body{
  margin: 0;
  padding: 0;
  background-color: orange;
}
div{
  overflow: visible;
  position: relative;
}
.cap{
  width: 500px;
  height: 800px;
  background-color: rgb(185, 134, 48);
  margin: 0 auto;
  border-radius: 100px 100px 200px 200px;
}
 .pel{
  height: 200px;
  background-color: black;
  border-radius: 100px 100px 0 0;
 }
.ulls{
  height: 100px;
  background-color: ;

}
.ceies{
  height: 20px;
  background-color: ;
}
.ceia{
  width: 150px;
  height: 20px;
  background-color: black;
  margin: 5px 35px;
  border-radius: 50px 50px 0 0;
}
.esquerra{
  float: left;
  clear: left;
}
.dreta{
  float: right;
  clear: right;
}
.parpelles{
  height: 20px;
  background-color: ;
}
.parpella{
  width: 80px;
  height: 20px;
  background-color: rgb(124, 95, 33);
margin:0 75px;
border-radius: 10px 10px 0 0;

}
.pestanyes{
  height: 5px;
  background-color: ;
}
.pestanya{
  width: 80px;
  height: 5px;
  background-color: black;
margin:0px 75px;

}
.iri{
  height: 60px;
  background-color: ;
}
.iris{
  width: 80px;
  height: 60px;
  background-color: white;
  margin: 0px 75px;

}
.pupil{
  height: 30px;
}
.pupila{
  width: 30px;
  height: 30px;
  background-color: black;
  margin: 0px 100px;
  border-radius: 15px;
  top: -30px;

}
.parpella2{
width: 80px;
height: 20px;
background-color: rgb(124, 95, 33);
margin: 0px 75px;
border-radius: 0 0 10px 10px;
top:-30px;
te;
}
.orelles{
  height: 100px;
  background-color: :
}
.orella{
  width: 50px;
  height: 150px;
  background-color: rgb(185, 134, 48);
  margin: 10px -50px;
  border-radius: 50px 0 0 50px;
}
.orella2{
  width: 50px;
  height: 150px;
  background-color: rgb(185, 134, 48);
  margin: 15px -50px;
  border-radius: 0 50px 50px 0;
}
.nariz{
  height: 100px;
  background-color: ;
}
.nas{
  width: 120px;
  height: 120px;
  background-color: rgb(185, 134, 48);
  margin: 0px 10px;
}
.hueco1:hover{
  -webkit-transform:scale(0.5);
  transform:scale(0.5);
}
.hueco1{
  width: 100px;
  height: 40px;
  background-color: rgb(196, 163, 107);
  margin: -30px 195px;
  border-radius: 0 0 50px 50px;

}


.boca{
  width: 200px;
  height: 50px;
  background-color: rgb(185, 100, 50);
  margin: 0 auto;
  margin-top: -150px;
  border-radius: 0 0 50px 50px;
  animation-name: boca;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 500;
  animation-direction: alternate;
}
@keyframes boca {
  0%{
    top: 0;
    left: 0px;
  }
  50%{
    top: 0;
    left: 0px;
  }
  75%{
    top: 0;
    left: 0px;
  }
  100%{
    top: 20px;
    left: 0px;
    transform: scale(0);
  }
}
